<%= form_for(@pizza) do |f| %>
  <% if @pizza.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pizza.errors.count, "error") %> prohibited this pizza from being saved:</h2>

      <ul>
      <% @pizza.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sauce %><br>
    <%= f.text_field :sauce %>
  </div>
  <div class="field">
    <%= f.label :toppings %><br>
    <%= f.text_area :toppings %>
  </div>
  <div class="field">
    <%= f.label :time_to_cook %><br>
    <%= f.number_field :time_to_cook %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :date_created %><br>
    <%= f.date_select :date_created %>
  </div>
  <div class="field">
    <%= f.label :time_put_in %><br>
    <%= f.time_select :time_put_in %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
