<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pizza.name %>
</p>

<p>
  <strong>Sauce:</strong>
  <%= @pizza.sauce %>
</p>

<p>
  <strong>Toppings:</strong>
  <%= @pizza.toppings %>
</p>

<p>
  <strong>Time to cook:</strong>
  <%= @pizza.time_to_cook %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @pizza.cost %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @pizza.date_created %>
</p>

<p>
  <strong>Time put in:</strong>
  <%= @pizza.time_put_in %>
</p>

<%= link_to 'Edit', edit_pizza_path(@pizza) %> |
<%= link_to 'Back', pizzas_path %>
